#
# PACKAGES FROM PyPI - https://pypi.python.org/pypi
#
BeautifulSoup4==4.6.0
biplist==0.9
cffi==1.11.5
elasticsearch==6.3.1
enum34==1.1.6
jenkinsapi==0.2.26
jira==2.0.0
mutagen==1.33.1
natsort==3.5.6
Pillow==4.1.1
plumbum==1.6.7
protobuf==3.0.0a3
py-dateutil==2.2
PyDispatcher==2.0.1
PyPDF2==1.26.0
Pyro4==4.60
pyserial==2.7
pytest==4.2.1
pyth==0.6.0
python-jenkins==1.4.0
requests[security]==2.18.1
selenium>=3.0.0
statistics==1.0.3.5
xmltodict==0.11.0
zipfile2==0.0.12
urllib3==1.26.5
braintree==3.24.0
jsonschema
pyyaml
pytest-selenium
pdfminer.six
six >= 1.10.0